{{!
  This file is part of Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template lytix_measure/widget

  Lytix Gauge Widget

  This widget renders a graph resembling a tachometer, indicating performance.

  Classes required for JS:
  * lytix_measure/gauge

  Context variables required for this template:
  See example below.

  Example context (json):
  {
      "contextid": 0,
      "courseid": 0,
      "userid": 0,
      "isteacher": true
  }
}}

<div id='gauge' class='measure col-12 row row-cols-1 row-cols-sm-2 pr-sm-0'></div>

{{#js}}
    require(['lytix_measure/gauge'], function(m) {
        m.init({{contextid}}, {{courseid}}, {{userid}}, {{isteacher}});
    });
{{/js}}
